PORT=1000
NODE_ENV=development
DATABASE_URI=mongodb+srv://<username>:<password>@cluster0.6m5cz.mongodb.net/Database_Name?retryWrites=true&w=majority
JWT_SECRET_KEY=A9387sahdja7S83JJAAJAKsaja8327436sauajhd8aaAjdk8w834u4hfd8HAKAW88JS8AKA8DJD8AKA8kjsjs